{%  extends 'layout.twig' %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-12 col-lg-9 col-md-8 pr-md-0">
            
            <div class="card border-0 shadow-sm mb-3">
                <div class="card-body">
                    <div class="dropdown">
                        <button class="btn btn-link dropdown-toggle btn-sm text-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ cur_cat is defined ? cur_cat['title'] : 'All Items'}}
                        </button>
                        <div class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item"
                               href="{{ url('') }}">
                                All Items
                            </a>

                            <div class="dropdown-divider"></div>

                            {% for category in categories %}
                            <a class="dropdown-item"
                                href="{{ url(category['id']~'-'~friendlyTitle(category['title'])) }}">
                                {{ category['title'] }}
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            
            {% if error is defined %}
            <div class="alert alert-warning alert-dismissible">
                {{ error }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
            </div>
            {% endif %}

            {% if products is null or products is empty %}
            <div class="alert alert-warning">
                There are no items in this category.
            </div>
            {% else %}
                {% include 'index/products.twig' %}
            {% endif %}

            {{ content|raw }}
        </div>

        <div class="col-sm-12 col-lg-3 col-md-4">
            <div class="sticky-top" style="top:30px;"></div>
                <div class="card border-0 shadow-sm mb-3">
                    {% if store_name is not defined or store_name is null %}
                    <div class="card-header">
                        Enter your Username
                    </div>
                    <div class="card-body">
                        <form method="post" action="{{ url('') }}" autocomplete="off">
                            <div class="form-group">
                                <input type="text" class="form-control" name="store_name">
                            </div>
                            <input type="hidden" name="_token" value="{{ csrf_token }}" id="_token">
                            <div class="form-group mb-0">
                                <button class="btn btn-primary btn-block">
                                    Continue
                                </button>
                            </div>
                        </form>
                    </div>
                    {% else %}
                    <div class="card-body text-center">
                        <small class="text-muted text-uppercase">
                            username
                        </small>
                        <h3 class="mb-0">{{ store_name|capitalize }}</h3>
                    </div>
                    <a href="{{ url('?reset') }}" class="card-footer text-center small py-2">
                        Reset Name
                    </a>
                    {% endif %}
                </div>

                <div class="card border-0 shadow-sm mb-3">
                    {% if discount is defined %}
                    <div class="card-body text-center">
                        You have a {{ discount['percentage'] }}% discount!
                    </div>
                    <a href="{{ url('?removeDiscount') }}" class="card-footer text-center small py-2">
                        Remove Discount
                    </a>
                    {% else %}
                    <div class="card-body text-center">
                        <form method="post" action="{{ url('') }}" autocomplete="off" class="form-inline">
                            <div class="input-group w-100">

                                <input type="text" 
                                    class="form-control form-control-sm" 
                                    name="code"
                                    pattern="[A-Za-z0-9+]{3,20}" 
                                    placeholder="Coupon Code">

                                <input type="hidden" name="_token" value="{{ csrf_token }}" id="_token">

                                <div class="input-group-append">
                                    <button class="btn btn-primary btn-sm">
                                        apply
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    {% endif %}
                </div>

                <div class="card border-0 shadow-sm mb-3 overflow-hidden">
                    <div class="card-header" style="line-height:1em;">
                       <h3 class="mb-0">My Cart</h3>
                    </div>
                    <div  id="cart-items">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% if store_name is not null %}
    {% include 'index/cartjs.twig' %}
    {% endif %}
{%  endblock %}
